// #wpcontent {
// 	background: #fafafa;
// }

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#wpbody-content {
	padding-top: 20px;
}

.spinner.show {
	float: none;
	visibility: visible;
}
