.ff_before_after_slider {
	overflow: hidden;
	position: relative;
	user-select: none;
	height: var(--height, auto);

	.after_image,
	.before_image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.before_image {
		z-index: 2;
		overflow: hidden;
		width: 50%;
		img {
			max-width: initial;
		}
	}

	.handle {
		position: absolute;
		z-index: 3;
		width: 3px;
		left: 50%;
		top: 0;
		height: 100%;
		background: #fff;
		margin-left: -1.5px;
		color: #000;
		transition: color 0.1s ease;

		&:hover,
		&.active {
			color: var(--COLORS-SECONDARY, #28dc9a);
		}

		.handle_icon {
			width: 55px;
			height: 55px;
			background-color: #fff;
			box-shadow: 0 0 17px 0 #00000024;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			cursor: grab;

			display: flex;
			align-items: center;
			justify-content: center;
			gap: 17px;

			line-height: 1;

			&::before,
			&::after {
				font-family: 'icomoon';
				font-style: normal;
				font-size: 12px;
				content: '\e926';
			}
			&::before {
				transform: rotate(180deg);
			}
		}
	}
}
