@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d1np0f');
  src:  url('fonts/icomoon.eot?d1np0f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d1np0f') format('truetype'),
    url('fonts/icomoon.woff?d1np0f') format('woff'),
    url('fonts/icomoon.svg?d1np0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock-closed:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-minus-circle:before {
  content: "\e900";
}
.icon-minus:before {
  content: "\e901";
}
.icon-plus:before {
  content: "\e902";
}
.icon-circle-o-notch:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-trashcan:before {
  content: "\e904";
}
.icon-garbage:before {
  content: "\e904";
}
.icon-delete:before {
  content: "\e904";
}
.icon-remove:before {
  content: "\e904";
}
.icon-bin:before {
  content: "\e904";
}
.icon-uninstall:before {
  content: "\e904";
}
.icon-lock:before {
  content: "\e98f";
}
